@media screen and (max-width: 990px) {
  .aboutContainer{
    padding: 0 10% !important;
  }

  .aboutSection{
    padding: 0 2% !important;
  }

  .teamFooter{
    flex-wrap: wrap !important;
    // background-color: white !important;
  }
  .demosContainer{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 10% !important;
  }

  .demosBox {
    width: 100% !important;
    padding: 0 !important;
  }

  .demoText {
    height: 5% !important;
    padding-bottom: 5% !important;
  }

  .consumerGif{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
  }
  .explainPlusBlock{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .features {
    padding: 0 10% !important;
  }
  .codeExplain {
    width: 100% !important;
    margin-bottom: 1em !important;
  }
  .codeBlockContainer {
    width: 100% !important;
  }
}

body {
  font-family: Geneva, Helvetica, sans-serif;
  color: ghostwhite;
  background-color: #0B0C10;
  margin: 0;
  padding: 0;
}

#titleDescript {
  text-align: center;
  color: ghostwhite;
  font-size: 1.2em;
  margin: 0 0 2em 0;
}

.headerContainer {
  position: fixed;
  width: 100%;
  top: 0;
}

.headerNavBar {
  background-color: #3F4B59;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
}

.headerNavBarLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.headerNavBarRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.headerBtn {
  border: none;
  padding: 1em;
  margin: 0;
}

.headerBtn:hover {
  background-color: ghostwhite;
}

#homeTag {
  font-size: 1.4em;
}

.headerTag{
  color: ghostwhite;
  margin: auto;
  text-decoration: none;
  padding: 1em;
  margin: 0;
}

.headerTag:hover{
  color: #66FCF1;
}

.mainContentDiv {
  display: flex;
  flex-direction: column;
}

.about-features-container {
  width: 100%;
}

.titleCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('nasa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0 20%;
}

#install-btn {
  font-size: 1.5em;
  margin: 1em;
  padding: 0.4em 1.8em;
  border: 2px solid ghostwhite;
  color: ghostwhite;
  background-color: #0B0C10;
  opacity: 75%;
}

#install-btn:hover {
  color: #00060D;
  background-color: ghostwhite;
  cursor: pointer;
  opacity: 100%;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #00060D;
  padding: 2em 8em;
}

.aboutContainer h2 {
  color: #C5C6C7;
}

.demosContainer{
  background-color: #5e6f80;
  display: flex;
  flex-direction: row;
  padding: 5em 5%;
}

.aboutSection {
  color: ghostwhite;
  width: 33%;
  padding: 0 2em;
}

.demosBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2.5%;
  // padding: 0;
  // border: 2px solid red;
}
// .buttonContainer{
//   justify-self: flex-end;
//   align-self: flex-end;
// }

.demoText {
  height: 12vh;
  margin-bottom: 1em;
}

.producerGif {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.producerGif img {
  width: 100%;
  // height: 35vh;
  // height: 40vh;
  // border: 2px solid green;
}

.consumerGif {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1em;
  margin-bottom: 1em;
}

.consumerGif img {
  width: 100%;
  // height: 35vh;
  // height: 40vh;
  // border: 2px solid green;
}

.get-code-btn {
  font-size: 1.5em;
  margin: 1em;
  padding: 0.4em 1.8em;
  color: ghostwhite;
  background-color: #00060D;
  border: none;
  // align-self: flex-end;
}

.get-code-btn:hover {
  color: #00060D;
  background-color: ghostwhite;
  cursor: pointer;
}

.features {
  display: flex;
  flex-direction: column;
  background-color: #5e6f80;
  padding: 0 15% 5em 15%;
}


.featureHeading {
  color: ghostwhite;
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin: 1em 0;
}

.featureContent {
  // background-color: #5e6f80;
  // height: 50vh;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  // padding: 0 2em 0 2em;
}

.explainPlusBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1em 0;
}

.codeExplain {
  // flex-basis: 1;
  width: 40%;
  padding: 0.5em 1em;
}

.codeExplain p {
  margin: 0;
}

.codeBlockContainer{
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  width: 60%;
  padding: 0 1em;
  // flex-basis: 4;
}

// svg {
//   position: aboslute;
//   height: 100%;
//   width: 100%;
//   left: 0;
//   right: 0;
// }

.codeBlock {
  width: 100%;
}

// svg {
//   width: 100%;
//   height: 100%;
// }

.headshots{
  border-radius: 50%;
  width:200px;
  height: 200px;

}

.teamContainer {
  display: flex;
  flex-direction: column;
}

.footerTitle {
  background-color: #3F4B59;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 2em;
  padding: 1em 0;
}

.teamFooter{
  background-color: #3F4B59;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teamMember{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.memberName{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name{
  margin: 1em 0 1em 0;
}

.teamLinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 2em;
}

.linkedIn{
  height: 30px;
  width: 30px;
  margin-right: 1em;
}

.github{
  height: 30px;
  width: 30px;
  margin-left: 1em;
}

#star {
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0;
  height: 25px;
}

.closingContainer{
  background-color: #0B0C10;
  padding: 4em;
}

.contributions {
  color: #C5C6C7;
  padding: 0 5%;
  margin: 0;
}

.feedback{
  padding: 1em 5%;
}

.linkLib {
  color: #66FCF1;
  text-decoration: none;
}
.disclaimer{
  color: #C5C6C7;
  margin-bottom: 0;
  padding-bottom: 0;
}