body {
  /* background: #1F2833; */
  // background-image: linear-gradient(#87a5c8, #1f253d);
  // background-image: url('nasa.jpg');
  // background-size: contain;
  // background-repeat: no-repeat;
  font-family: Geneva, Helvetica, sans-serif;
  color: #C5C6C7;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  color: ghostwhite;
  font-size: 1.2em;
  margin: 0 0 2em 0;
}

// Header / navbar styling

// .headerNavBar {
//   display: inline-flex;
//   flex-direction: row;
//   background-color: #0B0C10;
//   color: #0B0C10;
//   z-index: 1000;
// }
// .headerContainer{
//   background-color: #87a5c8;
//   display: inline;
//   flex-direction: row;
//   // align-content: space-between;

// }

.headerContainer {
  position: fixed;
  width: 100%;
  top: 0;
}

.headerNavBar {
  background-color: #3F4B59;
  display: flex;
  flex-direction: row;
}

.headerNavBarLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
}

.headerNavBarRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

.headerBtn {
  border: none;
  padding: 1em;
  margin: 0;
}

.headerBtn:hover {
  background-color: ghostwhite;
}

.headerTag{
  color: ghostwhite;
  margin: auto;
  text-decoration: none;
}

.mainContentDiv{
  display: flex;
  flex-direction: column;
}

.about-features {
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('nasa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // width: 100%;
  height: 100vh;
  padding: 0 20%;
}

#install-btn {
  font-size: 1.5em;
  margin: 1em;
  padding: 0.4em 1.8em;
  border: 2px solid ghostwhite;
  color: ghostwhite;
  background-color: transparent;
}

#install-btn:hover {
  color: #00060D;
  background-color: ghostwhite;
  cursor: pointer;
}

.feature1 {
  background-color: #00060D;
  height: 50vh;
}

pre {
  margin: 0;
}

.feature2 {
  background-color: #012340;
}

.feature3 {
  background-color: #3F4B59;
}

// #logo {
//   // display: block;
//   width: 20%;
//   margin-left: 2%;
//   /* padding-right: 0.6em; */
// }

// #title {
//   color: #45A29E;
//   /* color: #66FCF1; */
//   /* color: #1F2833; */
//   font-size: 2.5em;
//   margin-right: 2%;
//   /* padding-left: 0.6em; */
// }

// h1 {
//   text-align: center;
//   font-weight: bolder;
//   font-size: 3em;
//   color: #45A29E;
// }



button {
  font-size: 2em;
  background-color: #0B0C10;
  color: #66FCF1;
  border: 2px solid #66FCF1;
}

button:hover {
  background-color: #66FCF1;
  color: #0B0C10;
  border: 2px solid #0B0C10;
}

button:focus {
  outline: none;
  background-color: #45A29E;
  color: #0B0C10;
  border: 2px solid #0B0C10;
}


.headshots{
  border-radius: 50%;
  width:150px;
  height: 150px;

}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.teamMember{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamLinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.linkedIn{
  height:30px;
  width:30px;
}

.github{
  height:30px;
  width:30px;
}